
$gray: #1c1d1f;
$background-color : #0e0e0e;
$highlight : #50e3c2;
$fontcolorLight : #069172;
$fontcolorDark : #717071;


/*Colors*/
$yellow: #a4782e;
$red: #994a49;
$green: #435b22;
$violet: #7675b2;
$body-white: #9b9b9b;
$greyLabel: #4a4a4a;
