.node {
    cursor: pointer;
  }
  .node--leaf:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .node--leaf {
    fill: white;
  }
  .label,
  .node--root,
  .node--leaf {
    cursor: pointer;
  }
  .svgHolder{
    width: 100%;
    height: 79vh;
  }
  .label,
  .node--root{
 
    cursor: default;
  }
  .node--leaf {
    cursor: pointer;
  }
  #svgHolder{
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQYV2PU1NT8f/36dUYGJIDCgYlTKAgAkZsEBmRiEe4AAAAASUVORK5CYII=") repeat;
 }
  
  